<div class="card">
    <div class="card-body">
        <h5 class="card-title">Categoría</h5>
        <hr>
        {% if categoryLabel is defined %}
            <p>{{ categoryLabel }}</p>
        {% endif %}
        <input type="hidden" id="category" name="category" value="{{ app.request.get('category') }}">
        <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#categoryModal">Seleccionar</button>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lista preformateada</h5>
        <hr>
        <p>En este apartado contrarás todos los productos de mayor rotación y una rápida forma de agregarlos al carrito</p> 
        <a role="button" class="btn btn-primary btn-block" href="{{ path('inamika_frontend_shop_preformatted')}}"><i class="fa fa-check"></i> Continuar</a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lista de precios</h5>
        <hr>
        <a role="button" class="btn btn-primary btn-block" href="{{ path('api_prices_download')}}"><i class="fa fa-download"></i> Descargar</a>
    </div>
</div>