{% extends "InamikaFrontendBundle::layoutShop.html.twig" %}
{% block body %}
	{{ parent()}}
	<main id="main" class="offset-header background-gray">
		{% block headerPage %}
			{% include 'InamikaFrontendBundle:_partials:headerPage.html.twig' %}
		{% endblock %}
		<div class="container">
			<form method="GET" action="{{ path('inamika_frontend_shop_product')}}">
				<div class="row">
					<div class="col-lg-3">
						{% include 'InamikaFrontendBundle:_partials:selectCategory.html.twig' %}
					</div>
					<div class="col-lg-9">
						<!-- BEGIN INPUT SEARCH -->
						{% include 'InamikaFrontendBundle:_partials:inputSearch.html.twig' %}
						<!-- END INPUT SEARCH -->
						<div class="row">
						{# {{ render(controller('InamikaFrontendBundle:Shop:offers')) }} #}
						{{ render(controller('InamikaFrontendBundle:Shop:salients')) }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>
{% endblock %}
